::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
    background-color: #CAEBF2;
    font-family: 'Roboto', sans-serif;
}

.login {
    border-style: outset;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.contenedor {
    postion: relative;
    max-width: 800px;
    /*max-height: 350px;*/
    margin: auto;
    border-style: outset;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.formulario {
    margin: auto;
    padding: 10px;
    margin-top: 10%;
    width: 90%;
}

.buscar {
    margin-top: 40%;
}

.seccion {
    padding: 20px;
    background-color: #EFEFEF;
    color: #565656;
    border-radius: 5px;
}

.errores {
    color: red;
}

h2 {
    color: #565656;
}

h3 {
    color: #565656;
}

label {
    color: #565656;
}

.error {
    background-color: #FF3B3F;
}

table {
    text-align: center;
}

table th {
    text-align: center;
    padding: 10px
}

table td {
    text-align: justify;
    padding: 10px;
}

a {
    padding: 5px;
    margin-bottom: 10px;
}